@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Address Book Application</h1>
    <p class="lead">Address Book is a simple Web site to maintain address rocords.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About Addressbook</h2>
        <p>
            Using this application user can create, update and delete records and it maintains audit information of all the records. 
        </p>
        <p>This application is using SQL Server database as storage</p>
    </div>
</div>